html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 25px;
}

.container {
	width: 100%;
	background-color: #c9c5bf;
}

.info, footer {
	width: 100%;
}

.start-point, .achieved, .goals, .help, .ps {
	width: 80%;
	margin: 0 auto;
}

h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	padding: 30px 0 1px;
}

.info p {
	padding: 80px 0;
	line-height: 35px;
	float: right;
	color: white;
	font-size: 25px;
}

nav ul {
  list-style-type: none;
  text-align: center;

}
nav ul>li {
  display: inline-block;
  border: 0;
  float: right;

}
nav ul>li>a {
  line-height: 80px;
  padding: 0 20px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold; 
}

nav ul>li>a:hover {
	color:  #f20561;
}

.start-point a, .achieved a {
	text-decoration: none;
	text-align: center;
	color: #7088a2;
}

ol>li, p {
	padding: 10px 0 10px;
}

.pink {
	color:  #f20561;
	font-size: 18px;
	float: left;
	border: solid #f20561;
	padding: 10px;
	margin: 10px 0 0 20px;
}

.info {
	background-image: url(https://static.pexels.com/photos/2000/nature-sky-field-path.jpg);
	background-size: cover;
	background-position: bottom;
	height: 350px;
}

footer {
	text-align: center;
	background-color: #7088a2;
	height: 50px;
	padding-top: 16px;
}

.start-point .fa-arrow-down:before {
	color: black;
	height: 16px;
	width: 16px;
	font-size: 16px;
}
